


@import '_custom-variables';
@import './../../node_modules/bootstrap/scss/bootstrap';

a {
  font-weight: bold;
}

.regular-text {
  font-family: $font-family-sans-serif;
}

h1,h2,h3,h4,h5,h6,a:not(.btn){
  font-family : 'Space Mono', monospace;
}

h1, h3 {
  font-weight: bold;
}

nav a {
  font-size: 1.3rem;
}

.attention-font {
  font-family : 'Space Mono', monospace;
  font-weight: bold;
}

.font-weight-light {
  font-weight: 300;
}

.flex {
  display: flex;
  flex-direction: column;
  @media(min-width: 600px) {
    flex-direction: row;
  }
  justify-content: center;
  align-items: center;
}

.flex > div {
  align-items: center;
  display:flex;
  flex-direction: column;
}

.centered-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.full-width {
  display: block;
  width: 100%;
}

.centered-btn-container {
  text-align: center;
  margin: 3rem auto;
}

header {
  padding: 1rem 0;
}

footer {
  padding: 1rem;
}

.card {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.text-centered {
  text-align: center;
}

.btn {
  white-space: normal !important;
}

@include media-breakpoint-up(sm) {
  .examples .flex .card:first-of-type {
    margin-right: 5%;
  }
}
