@import '_custom-variables';
@import './../../node_modules/bootstrap/scss/bootstrap';


h1 {
  font-weight: bold;
  color: $body-color;
}

.btn-primary {
  background: $body-color;
  border-color: $body-color;
}


.flex {
  display: flex;
  flex-direction: column;
  @media(min-width: 600px) {
    flex-direction: row;
  }
  justify-content: center;
  align-items: center;
}

.flex > div {
  align-items: center;
  display:flex;
  flex-direction: column;
}

.centered-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.full-width {
  display: block;
  width: 100%;
}

.centered-btn-container {
  text-align: center;
  margin: 3rem auto;
}

header {
  padding: 1rem 0 0 0;

  a:hover {
   h1 {
     color: $brand-primary;
    }
    text-decoration: none;

  }
}

footer {
  font-size: 1.1rem;
  background: fade-out(white, .5);
  padding: 1rem 0 .5rem 0;
}


.raised-card {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.text-centered {
  text-align: center;
}

.landing-page-text {
  font-weight: 300;
  position: relative;
  transform: translateY(-50%);
  top: 50vh;

  h1 {
    font-size: 3.5rem;
    color: white;
  }
  h2 {
    font-size: 2.8rem;
    color: white;
  }

  a {
    margin-top: 2rem;
    background-color: $brand-primary;
    border: $brand-primary;
  }
}

body {
  transition: background-image 0.3s ease-in-out;
}

body.happy {
  background-image : linear-gradient(fade-out(black, .3), fade-out(black, .8)), url('./../assets/cute-dog.gif');
  background-size: cover;
}

body.bitch-please {
  background-image : linear-gradient(fade-out(black, .3), fade-out(black, .8)), url('./../assets/bitch-please.gif');
  background-size: cover;
}

body.meh {
  background-image : linear-gradient(fade-out(black, .3), fade-out(black, .8)), url('./../assets/what.gif');
  background-size: cover;
}

body.smug {
  background-image : linear-gradient(fade-out(black, .3), fade-out(black, .8)), url('./../assets/smug.gif');
  background-size: cover;
}
